@import "default/styles.scss";
@import "uicomponents/message-tagherlper/message-taghelper.scss";

body {
    background-color: $chalk-white;
    color: $primary;
}

main {
    min-height: calc(100vh - 60px - 70px);
}

footer {
    height: 50px;
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
@media print{

}