@page
@using Microsoft.Extensions.Localization;
@model AccessDeniedModel

@inject IStringLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Identity_Account_AccessDenied_Title"];
}

<header>
    <h1 class="text-red-intense">@ViewData["Title"]</h1>
    <p class="text-red-intense">@Localizer["Identity_Account_AccessDenied_Content"]</p>
</header>
