@page
@using Microsoft.Extensions.Localization;
@model ForgotPasswordConfirmation

@inject IStringLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Identity_Account_ForgotPasswordConfirmation_Title"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["Identity_Account_ForgotPasswordConfirmation_Message"]
</p>
