@page
@using Microsoft.Extensions.Localization;
@model LockoutModel

@inject IStringLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Identity_Account_Lockout_Title"];
}

<header>
    <h1 class="text-red-intense">@ViewData["Title"]</h1>
    <p class="text-red-intense">@Localizer["Identity_Account_Lockout_Message"]</p>
</header>
