@page
@using Microsoft.Extensions.Localization;
@model ResetPasswordConfirmationModel

@inject IStringLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Identity_Account_ResetPasswordConfirmation_Title"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Html.Raw(@Localizer["Identity_Account_ResetPasswordConfirmation_Content"])
</p>
