@page
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@model ResetPasswordConfirmationModel

@inject IHtmlLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Identity_Account_ResetPasswordConfirmation_Title"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["Identity_Account_ResetPasswordConfirmation_Content", Url.PageLink("/Account/Login")]
</p>
