.message-absolute {
    max-width: 500px;
    width: 100%;
    z-index: 10000;
}

.message-progress {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
}