
$timberwolk: #D6D3CC;
$silver: #BCBFC1;
$ecru: #D8B373;
$isabelline: #F6F4EF;
$red-intense: #bd3925;

$custom-colors: ( "timberwolk":$timberwolk, "silver": $silver, "ecru": $ecru, "isabelline": $isabelline, "red-intense": $red-intense );

$theme-colors: map-merge($theme-colors, $custom-colors);
