@using Microsoft.AspNetCore.Mvc.Localization;
@model Template.MvcWebApp.Areas.SampleAjax.Models.SampleList.SampleItemViewModel
@inject IHtmlLocalizer Localizer;

@{

    //ResponseMessageViewModel responseMessage = null;
    //if (ViewData.ContainsKey("ResponseMessage") && ViewBag.ResponseMessage != null)
    //{
    //    responseMessage = ViewBag.ResponseMessage;
    //}
}
<form name="AddItemForm">
    <div asp-validation-messages="All" class="text-dark-red"></div>
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="ListId" value="@Model.ListId" />
    @*@if (responseMessage != null && responseMessage.Id == "Items")
    {
    <partial name="_ResponseMessage" model="ViewData.ModelState" />
    }*@
    <div class="input-group mb-3">
        <div class="form-floating">
            <input asp-for="Description" value="@Model.Description" class="form-control" />
            <label asp-for="Description" class="form-label"></label>
            <button type="submit" class="btn btn-primary">@Localizer["Shared_Buttons_AddItem"].Value</button>
        </div>
    </div>

    <div class="row">
        <div class="col-9">
            <span asp-validation-for="Description" class="text-dark-red"></span>
        </div>
    </div>
    <hr class="silver" />
</form>