@using Template.MvcWebApp.Areas.SampleAjax.Models.SampleList;
@model SampleItemViewModel;

<li class="list-group-item d-flex justify-content-between">
    <span>@Model.Description</span>
    <form name="RemoveItemForm">
        <input type="hidden" value="@Model.Id" />
        <input type="hidden" value="@Model.ListId" />
        <button type="submit" class="btn btn-link">
            <i class="bi bi-trash3 fs-5 text-red-intense"></i>
        </button>
    </form>
</li>
