@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;

@inject IStringLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Home_Index_Title"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Home_Index_Title_Welcome"]</h1>
</div>
