@using Microsoft.AspNetCore.Mvc.ModelBinding;
@using Template.Common;
@using Template.Configuration;
@model ModelStateDictionary

@*@using Template.Common.Extensions;

@if (ViewData.ContainsKey("ResponseMessage") && ViewBag.ResponseMessage != null)
{
    ResponseMessageViewModel responseMessage = ViewBag.ResponseMessage;
    <div class="alert alert-@responseMessage.MessageType.GetDescription() alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @if (!responseMessage.Title.IsNullOrWhiteSpace())
        {
            <h4 class="alert-heading">@responseMessage.Title</h4>
        }
        @ViewBag.ResponseMessage.Content
    </div>
}*@



@if (Model != null && !Model.IsValid)
{
    <div class="validation-summary-errors">
        <ul>
            @foreach (var modelError in
           Model.Where(kv => kv.Key == Constants.KeyErrors.ValidationError.Value).SelectMany(keyValuePair => keyValuePair.Value.Errors))
            {
                <li>@modelError.ErrorMessage</li>
            }
        </ul>
    </div>
}