@page
@using Microsoft.Extensions.Localization;
@model Disable2faModel

@inject IStringLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Identity_Account_Manage_Disable2fa_Title"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    @Html.Raw(Localizer["Identity_Account_Manage_Disable2fa_Description"])
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">@Localizer["Identity_Account_Manage_Disable2fa_Submit"]</button>
    </form>
</div>
