version: '3.4'

services:
  template.webapp.unittests:
    container_name: temp.webapp.unit-tests
    build:
      context: .
      dockerfile: Template.WebApp.UnitTests/Dockerfile
    volumes:
     - /opt/vsts/work/_temp:/var/temp
     
  # template.application.unittests:
  #   image: ${DOCKER_REGISTRY-}templateapplicationunittests
  #   container_name: temp.application.unit-tests
  #   build:
  #     context: .
  #     dockerfile: Template.Application.UnitTests/Dockerfile
  #   volumes:
  #    - /opt/vsts/work/_temp:/var/temp
  #   #depends_on:
  #   #  - template.mailsender.unittests
  
  #template.mailsender.unittests:
  #  image: ${DOCKER_REGISTRY-}templatemailsenderunittests
  #  container_name: temp.mailsender.unit-tests
  #  build:
  #    context: .
  #    dockerfile: Template.MailSender.UnitTests/Dockerfile
  #  volumes:
  #   - /opt/vsts/work/_temp:/var/temp     