services:
  template.webapp.integrationtests:
    container_name: temp.webapp.int-tests
    environment: 
      # "ASPNETCORE_URLS": "https://0.0.0.0:443;http://0.0.0.0:80"
      "ASPNETCORE_URLS": "https://+:443;http://+:80"
      "ASPNETCORE_HTTP_PORT": "8000"
      "ASPNETCORE_HTTPS_PORT": "8001"
      "ConnectionStrings__DefaultConnection": "Server=temp.postgres.int-test;Port=5432;Database=TemplateAppIntegrationTests;User Id=postgres;Password=sa!Password-123;"
      "ConnectionStrings__AppConnection": "Server=temp.postgres.int-test;Port=5432;Database=TemplateApp;User Id=postgres;Password=sa!Password-123;"
      "RedisCache__Configuration": "temp.redis.int-tests:6379"
      "MessageBrokerService__Hostname": "temp.mq.int-test"
      "HealthChecksUI__HealthChecks__0__Uri": "https://localhost:8001/health"
      "HealthChecksUI__HealthChecks__1__Uri": "https://localhost:8001/health/databases"
    build:
      context: .
      dockerfile: Template.WebApp.IntegrationTests/Dockerfile
    depends_on:
      - template.sql
      - template.redis
      - template.mq 
    entrypoint: 
      [
        "/src/wait-for-it.sh", "temp.postgres.int-tests:5432", "-t", "15", "--",
        "dotnet", "test", "/src/Template.WebApp.IntegrationTests/Template.WebApp.IntegrationTests.csproj", "--filter", "Category!=ExcludedFromBuild", "--logger", "trx", "--results-directory", "/var/temp", "-v", "d"
      ]
    volumes:
     - /opt/vsts/work/_temp:/var/temp

  template.redis:
    image: redis:alpine
    container_name: temp.redis.int-tests
    ports:
      - "8002:6379"
  
  template.sql:
     image: postgres:latest
     container_name: temp.postgres.int-test
     ports:
       - "8003:5432"
     environment:
       POSTGRES_USER: "postgres"
       POSTGRES_PASSWORD: "sa!Password-123"
       POSTGRES_DB: "TemplateAppIntegrationTests"
     healthcheck:
       test: ["CMD-SHELL", "pg_isready -U postgres"]
       interval: 10s
       timeout: 10s
       retries: 5
  
  template.mq:
    image: rabbitmq:3.12.12-management
    container_name: temp.mq.int-test
    ports:
          - "8004:15672"
          - "8005:5672"
    hostname: template-mq
    volumes:
        - rabbitmq-data:/var/lib/rabbitmq
        - rabbitmq-log:/var/log/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"


volumes:
  rabbitmq-data:
  rabbitmq-log:
