version: '3.4'

services:
  template.mvcwebapp.unittests:
    image: ${DOCKER_REGISTRY-}templatemvcwebappunittests
    container_name: webapp.unit-tests
    build:
      context: .
      dockerfile: Template.MvcWebApp.UnitTests/Dockerfile
    volumes:
     - /opt/vsts/work/_temp:/var/temp
    depends_on:
      - template.application.unittests
     
  #template.application.unittests:
  #  image: ${DOCKER_REGISTRY-}templateapplicationunittests
  #  container_name: application.unit-tests
  #  build:
  #    context: .
  #    dockerfile: Template.Application.UnitTests/Dockerfile
  #  volumes:
  #   - /opt/vsts/work/_temp:/var/temp
  #  depends_on:
  #    - template.mailsender.unittests
  
  template.mailsender.unittests:
    image: ${DOCKER_REGISTRY-}templatemailsenderunittests
    container_name: mailsender.unit-tests
    build:
      context: .
      dockerfile: Template.MailSender.UnitTests/Dockerfile
    volumes:
     - /opt/vsts/work/_temp:/var/temp     