<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="aspnet-core-template-az" value="https://pkgs.dev.azure.com/agilecoding-es/aspnet-core-template/_packaging/aspnet-core-template-az/nuget/v3/index.json" />
  </packageSources>
</configuration>