@using Microsoft.AspNetCore.Mvc.Localization;
@model CreateRoleViewModel
@inject IHtmlLocalizer Localizer;

@{
    var title = @Localizer["Administration_Roles_Create_Title"].Value;
    ViewData["Title"] = title;
}

@section SectionBar{
    <partial name="_SectionBar" model="@title" />
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            @*<div asp-validation-messages="All" class="text-dark-red"></div>*@
            @*<partial name="_ResponseMessage" model="ViewData.ModelState" />*@

            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-dark-red"></span>
            </div>
            <br />
            <hr class="silver" />
            <a class="btn btn-outline-light-blue-2 me-2" asp-action="Index">@Localizer["Shared_Buttons_BackToList"].Value</a>
            <button type="submit" class="btn btn-primary">@Localizer["Shared_Buttons_Create"].Value</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
