name: Create release

on:
  pull_request:
    branches:
      - 'release/*'
      - 'hotfix/*'

jobs:
  create-release:
    name: Create release
    runs-on: ubuntu-latest

    steps:
      - name: Determine release name
        id: extract_branch
        run: |
          if [[ "${GITHUB_EVENT_NAME}" == "push" ]]; then
            echo "::set-output name=branch::$(echo ${GITHUB_REF##*/})"
          elif [[ "${GITHUB_EVENT_NAME}" == "pull_request" ]]; then
            echo "::set-output name=branch::$(echo $GITHUB_BASE_REF)"
          else
            echo "::set-output name=branch::INVALID_EVENT_BRANCH_UNKNOWN"
          fi

      - name: Paso para ramas de release
        if: startsWith(github.ref, 'refs/heads/release/') # Ejecutar este trabajo si la rama es release/*
        run: echo "::set-output name=branch_name::$(echo ${{ github.ref }} | sed 's/refs\/heads\/release\///')"

      - name: Paso para ramas de hotfix
        if: startsWith(github.ref, 'refs/heads/hotfix/') # Ejecutar este trabajo si la rama es hotfix/*
        run: echo "::set-output name=branch_name::$(echo ${{ github.ref }} | sed 's/refs\/heads\/hotfix\///')"