name: Create release

on:
  pull_request:
    branches:
      - 'release/*'
      - 'hotfix/*'

jobs:
  create-release:
    name: Create release
    runs-on: ubuntu-latest

    steps:
      - name: Determine branch name
        id: extract_branch
        run: |
          if [[ "${GITHUB_EVENT_NAME}" == "push" ]]; then
            echo "::set-output name=branch_name::$(echo ${GITHUB_REF##*/})"
          elif [[ "${GITHUB_EVENT_NAME}" == "pull_request" ]]; then
            echo "::set-output name=branch_name::$(echo $GITHUB_BASE_REF)"
          else
            echo "::set-output name=branch_name::INVALID_EVENT_BRANCH_UNKNOWN"
          fi

      - name: Branch Name
        run: echo Branch - ${{ steps.extract_branch.outputs.branch_name }}

      - name: Paso para ramas de release
        id: release_version
        if: startsWith(${{ steps.extract_branch.outputs.branch_name }}, 'refs/heads/release/') # Ejecutar este trabajo si la rama es release/*
        run: | 
            echo "::set-output name=version::$(echo ${{ steps.extract_branch.outputs.branch_name }} | cut -d '/' -f2)"
            echo Version - ${{ steps.release_version.outputs.version }}

      - name: Paso para ramas de hotfix
        id: hotfix_version
        if: startsWith(${{ steps.extract_branch.outputs.branch_name }}, 'refs/heads/hotfix/') # Ejecutar este trabajo si la rama es hotfix/*
        run: |
            echo "::set-output name=version::$(echo ${{ steps.extract_branch.outputs.branch_name }} | cut -d '/' -f2)"
            echo Version - ${{ steps.hotfix_version.outputs.version }}
      