name: Unit & Integration Tests

on:
  push:
   branches:
      - master
      - release/*
      - hotfix/*
  pull_request:
    branches:
      - master
      - release/*
  workflow_dispatch:

env:
  DOTNET_VERSION: '6.0.x'

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Run Tests
      run: docker compose -f ./src/Template/docker-compose.unittests.yml up --exit-code-from template.common.unittests
      continue-on-error: false
      
    - name: Upload test results
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: /opt/vsts/work/_temp/*.trx

    - name: Publish Code Coverage Report
      uses: actions/upload-artifact@v4
      with:
        name: code-coverage-report
        path: /opt/vsts/work/_temp/coverlet/reports/*


  integration-tests:
    name: Intragration Tests
    runs-on: ubuntu-latest
    needs: unit-tests

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Run Tests
      run: docker compose -f ./src/Template/docker-compose.integrationtests.yml up --abort-on-container-exit --exit-code-from template.webapp.integrationtests  --build
      continue-on-error: false